.cube-select-cascade{
    display: inline-block;
    .cube-form-item__label{
        text-align: right;
        vertical-align: middle;
        font-size: 14px;
        color: #606266;
        line-height: 40px;
        box-sizing: border-box;
    }
}