.cubeMoreType-main-list {
    overflow: auto;
    .title {
        padding: 2px 0;
    }
    .checkbox-list {
        padding: 2px 0;
    }
    /deep/.el-popover{
        padding: 5!important;
    }
}