
//mac chrome开启滚动条样式调试
::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0);
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(37, 36, 36, 0.57);
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}


.sidebar{
  width:20rem
}

.theme-default-content:not(.custom),
.content:not(.custom){
  max-width:1620px;
}
table{
  display:table;
  width:100%;
  margin-bottom:100px;
}
th{
  text-align:left;
}
td,th{
  border:none
}
tr{
  border-top:none;
  border-bottom:1px solid #dfe2e5;
}
.attr{
  font-size:22px;
  margin-top:30px;
}
.card pre{
  background:#fff !important;
}

.code-row{
  .code-string{
    color:#756bb1
  }
}
.code-s{
  span{
    color:#403c3c;
  }
}
.home{
  padding:0px
}
.content pre code{
  color:#3182bd !important
}
.hljs-name,.hljs-tag,.hljs-keyword{
  color:#3182bd !important
}
.hljs-string{
  color:#756bb1 !important;
}