html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',SimSun,sans-serif;
    font-weight: 400;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    &.is-component {
      overflow: hidden;
    }
  }
  
  #app {
    height: 100%;
    overflow: hidden;

    &.is-component {
      overflow-y: hidden;
  
      .main-cnt {
        padding: 0;
        margin-top: 0;
        height: 100%;
        min-height: auto;
      }
  
      .headerWrapper {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 1500;
        
        .container {
          padding: 0;
        }
      }
    }
  }
  
  a {
    color: #409EFF;
    text-decoration: none;
  }
  
  code {
    padding: 0 4px;
    border-radius: 4px;
  }
  
  button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }
  
  .hljs {
    line-height: 1.8;
    font-family: Menlo, Monaco, Consolas, Courier, monospace;
    font-size: 12px;
    padding: 18px 24px;
    border: solid 1px #eaeefb;
    margin-bottom: 25px;
    border-radius: 4px;
    -webkit-font-smoothing: auto;
  }
  
  .main-cnt {
    margin-top: -80px;
    padding: 80px 0 340px;
    box-sizing: border-box;
    min-height: 100%;
  }
  
  .container,
  .page-container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }
  
  .page-container {
    h2 {
      font-size: 28px;
      color: #1f2d3d;
      margin: 0;
    }
    h3 {
      font-size: 22px;
    }
    h2, h3, h4, h5 {
      font-weight: normal;
      color: #1f2f3d;
  
      &:hover a {
        opacity: .4;
      }
  
      a {
        float: left;
        margin-left: -20px;
        opacity: 0;
        cursor: pointer;
  
        &:hover {
          opacity: .4;
        }
      }
    }
  
    p {
      font-size: 14px;
      color: #5e6d82;
      line-height: 1.5em;
    }
  
    .tip {
      padding: 6px;
      background-color: #ECF8FF;
      border-left: #50bfff 2px solid;
      margin: 10px 0;
      code {
        color: #297BF5;
      }
    }
  
    .warning {
      padding: 6px;
      background-color: #fff6f7;
      border-left: #FF525D 2px solid;
      margin: 10px 0;
      code {
        color: #297BF5;
      }
    }
  }
  .demo {
    margin: 20px 0;
  }
  @media (max-width: 1140px) {
    .container,
    .page-container {
      width: 100%;
    }
  }
  
  @media (max-width: 768px) {
    .container,
    .page-container {
      padding: 0 20px;
    }
  
    #app.is-component .headerWrapper .container {
      padding: 0 12px;
    }
  }
  


  table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.5em;
  
    thead {
      display: table-header-group;
      vertical-align: middle;
      border-color: inherit;
      tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
      }
      th {
        text-align: left;
        white-space: nowrap;
        color: #3689f3;
        font-weight: 400;
        border-bottom: 1px solid #dcdfe6;
        padding: 10px;
      }
    }
    tbody {
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;
      tr {
        td {
          border-bottom: 1px solid #dcdfe6;
          padding: 10px;
        }
      }
    }
    .flex-table-cell {
      font-weight: 500;
      font-size: 12px;
      display: flex;
      justify-content: space-around;
      .btn-text{
        font-size: 12px;
        color: #409EFF;
        &:active{
          background-color: transparent;
        }
      }
      .delete-text{
        color: #f56c6c;
        &:active{
          background-color: transparent;
        }
      }
    }
  }

  .table-tip{
    text-align: right;
    .code{
      color: #409EFF;
    }
  }

  //展示定义一下统一样式
  .cubeInput{
    width: 220px;
  }
 
  .el-input-group{
    width: 250px;
  }
  .el-select{
    width: 220px;
  }

.el-table {
  /deep/.flex-box-table-row {
    font-weight: 500;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    .btn-text {
      font-size: 12px;
      color: #409eff;
      &:active {
        background-color: transparent;
      }
    }
    .delete-text {
      color: #f56c6c;
      &:active {
        background-color: transparent;
      }
    }
  }
}

.datav-page{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


// w80 - w470
@function indexName($args) { 
  @return $args * 10 + 70; 
}

@for $i from 1 through 40 {
  .w#{indexName($i)} {
      width: #{indexName($i)+'px !important;'}
  }
}