<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        宝安区环卫精细化管理信息系统
    </title>
    <script type="text/javascript"
        src="http://api.map.baidu.com/api?v=2.0&ak=71ce4e39b5be9ddfb56e3169cafc3922"></script>
    <!--加载鼠标绘制工具-->
    <script type="text/javascript" src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"
        charset="utf-8"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />
    <!--加载检索信息窗口-->
    <script type="text/javascript"
        src="http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.js"
        charset="utf-8"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.css" />
    <script type="text/javascript"
        src="http://api.map.baidu.com/library/AreaRestriction/1.2/src/AreaRestriction_min.js"></script>
    <script src="../js/json2.js"></script>

    <link type="text/css" rel="Stylesheet" media="ALL" href="/hw.tui/css/base_v2/reset.css?Version=1909052242424902"
        charset="utf-8" />
    <link type="text/css" rel="Stylesheet" media="ALL" href="/hw.tui/css/base_v2/style.css?Version=1909052242424902"
        charset="utf-8" />
    <link type="text/css" rel="Stylesheet" media="ALL"
        href="/hw.tui/css/base_v2/skin/ocean/ocean.css?Version=1909052242424902" charset="utf-8" />
    <link type="text/css" rel="Stylesheet" media="ALL"
        href="/hw.tui/css/base_v2/skin/ocean/my97.css?Version=1909052242424902" charset="utf-8" />
    <link type="text/css" rel="Stylesheet" media="ALL" href="/hw.bav3/css/lzum/style.css?Version=1909052242424902"
        charset="utf-8" />
    <script type="text/javascript" src="/hw.tui/js/jquery-1.7.min.js?Version=1909052242424902" charset="utf-8"></script>
    <script type="text/javascript" src="/hw.tui/js/base_v2/topevery.ui.base.js?Version=1909052242424902"
        charset="utf-8"></script>
    <script type="text/javascript" src="/hw.tui/js/uiLayout/jquery-ui-latest.js?Version=1909052242424902"
        charset="utf-8"></script>
    <script type="text/javascript" src="/hw.tui/js/uiLayout/jquery.layout-latest.js?Version=1909052242424902"
        charset="utf-8"></script>
    <script type="text/javascript" src="/hw.bav3/js/base.js?Version=1909052242424902" charset="utf-8"></script>
    <script type="text/javascript" src="/hw.bav3/js/common.js?Version=1909052242424902" charset="utf-8"></script>
    <script type="text/javascript" src="/hw.bav3/js/map.setting.js?Version=1909052242424902" charset="utf-8"></script>
    <script type="text/javascript" src="/hw.bav3/js/jquery.cookie.js?Version=1909052242424902" charset="utf-8"></script>
    <script type="text/javascript" src="/hw.bav3/js/jquery.jqGrid.locale-cn.js?Version=1909052242424902"
        charset="utf-8"></script>
    <script type="text/javascript" src="/hw.bav3/js/jquery.jqGrid.min.js?Version=1909052242424902"
        charset="utf-8"></script>
    <script type="text/javascript" src="/hw.bav3/js/jquery.validationEngine.js?Version=1909052242424902"
        charset="utf-8"></script>
    <script type="text/javascript" src="/hw.bav3/js/jquery.validationEngine-zh.js?Version=1909052242424902"
        charset="utf-8"></script>
    <script type="text/javascript" src="/hw.my97/WdatePicker.js?Version=1909052242424902" charset="utf-8"></script>
    <script type="text/javascript" src="/hw.bav3/js/jq.framebox.js?Version=1909052242424902" charset="utf-8"></script>
    <script type="text/javascript" src="/hw.bav3/js/jq.menu.js?Version=1909052242424902" charset="utf-8"></script>
    <script type="text/javascript" src="/hw.bav3/js/DivLoadClose.js?Version=1909052242424902" charset="utf-8"></script>
    <script type="text/javascript" src="/hw.bav3/js/map/map.baidu.js?Version=1909052242424902" charset="utf-8"></script>
    <script type="text/javascript" src="/hw.bav3/js/map/map.baidu.helper.js?Version=1909052242424902"
        charset="utf-8"></script>
    <script type="text/javascript" src="/hw.bav3/ajaxpro/prototype.ashx?Version=1909052242424902"
        charset="utf-8"></script>
    <script type="text/javascript" src="/hw.bav3/ajaxpro/core.ashx?Version=1909052242424902" charset="utf-8"></script>
    <script type="text/javascript" src="/hw.bav3/ajaxpro/converter.ashx?Version=1909052242424902"
        charset="utf-8"></script>
    <script type="text/javascript"
        src="/hw.bav3/ajaxpro/Topevery.BAHW.Web.AjaxFunction,Topevery.BAHW.Web.ashx?Version=1909052242424902"
        charset="utf-8"></script>
    <script type="text/javascript" src="/hw.bav3/js/ajaxpro.loading.js?Version=1909052242424902"
        charset="utf-8"></script>

</head>

<body>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#txtPoints').focus(function () {
                $(this).select();
            })
            var myLayout = $("body").layout({
                fxName: "slide"                         //fxName                        窗体隐藏显示的动画效果
                , fxSpeed: "slow"                       //fxSpeed                       动画效果的显示时间/速度
                , maskIframesOnResize: true             //maskIframesOnResize           页面中存在Iframe对象时，设为true
                , closable: true                        //closable                      是否允许隐藏打开窗体,true为允许
                , west__size: "800"                      //west__size                    为调整西边窗体的宽度
                , resizable: true                       //resizable                     是否允许调整窗体的高/宽, true为允许
                , slidable: true                        //slidable                      是否允许窗体隐藏后可以滑动预览
                , north__fxName: "slide"                 //north__fxName                 北边窗体隐藏显示的动画效果
                , south__fxName: "slide"                 //south__fxName                 南边窗体隐藏显示的动画效果
                , spacing_closed: 7                     //spacing_closed                隐藏后的间隔栏高宽
                , spacing_open: 7                       //spacing_open                  显示后的间隔栏高宽
                , north__spacing_open: 0
                , south__spacing_open: 0
                , initClosed: false                     //initClosed                    窗体创建后默认隐藏所有窗体
                , resizerTip: "调整内容宽度"            //resizerTip                    鼠标移上调整窗体栏所显示的文字提醒
                , resizerDragOpacity: "0.8"             //resizerDragOpacity            鼠标调整窗体栏显示显示的透明度效果
                , sliderTip: "展开"                     //sliderTip                     鼠标移上滑动隐藏窗体栏所显示的文字提醒
                , togglerTip_open: "隐藏"               //togglerTip_open               鼠标移上打开的窗体按钮文字提醒
                , togglerTip_closed: "展开"             //togglerTip_closed             鼠标移上关闭的窗体按钮文字提醒
            });
            initMap();
            initValidate();
            drawPolygon();
            $("#tablePerson select").each(function (i, v) {
                if ($(v).attr("dataval") != "") {
                    $(v).val($(v).attr("dataval"));
                }
            })
        });

        function initValidate() {
            $("#form1").validationEngine();
            $("#form1").validationEngine("attach", {
                promptPosition: "inline",
                scroll: false
            });
        }

        $(document).ready(function () {
            TUILayout("form");
            //jquery 验证

            $("#txtSectionName").addClass("validate[required,maxSize[50]]").attr("data-prompt-position", "topLeft:120");
            $("#txtArea").addClass("validate[custom[number]]").attr("data-prompt-position", "topLeft:0");
            $("#deptTree1_txtText").addClass("validate[required]");
            $("#mainDeptTree_txtText").addClass("validate[required]");
            $("#ddlCompany").addClass("validate[required]");
            $("#txtRequirePerson").addClass("validate[custom[integer]]").attr("data-prompt-position", "topLeft:0");
            $("#txtRequireCar").addClass("validate[custom[integer]]").attr("data-prompt-position", "topLeft:0");
            $("#txtConPerNum").addClass("validate[custom[integer]]").attr("data-prompt-position", "topLeft:0");
            $("#txtConCarNum").addClass("validate[custom[integer]]").attr("data-prompt-position", "topLeft:0");
            $("#txtRequireCommon").addClass("validate[custom[integer]]").attr("data-prompt-position", "topLeft:0");
            $("#txtRequireKeep1").addClass("validate[custom[integer]]").attr("data-prompt-position", "topLeft:0");
            $("#txtRequireKeep2").addClass("validate[custom[integer]]").attr("data-prompt-position", "topLeft:0");
            $("#txtRequireKeep3").addClass("validate[custom[integer]]").attr("data-prompt-position", "topLeft:0");
            $("#txtArea").addClass("validate[required,custom[number]]").attr("data-prompt-position", "topLeft:0");
            $("#txtEquipmentNum").addClass("validate[custom[integer]]").attr("data-prompt-position", "topLeft:0");
            $("#txtMechanizedWworkingLength").addClass("validate[custom[number]]").attr("data-prompt-position", "topLeft:0");
            $("#selTeam").addClass("validate[required]");
            $("#txtMultiVariantArea").addClass("validate[custom[number]]").attr("data-prompt-position", "topLeft:0");
            //$("#treeMapBox input:text").attr("readonly", "readonly");

            //$("#form1").validationEngine({
            //    onFieldFailure: function () {
            //        $("#btnOK").attr("value", "受 理(S)").removeAttr("disabled");
            //        $("#btnCancel").removeAttr("disabled");
            //    }
            //});
            $("#form1").validationEngine({ promptPosition: "topLeft", scroll: false });

            $(document).keydown(function (event) {
                if (event.altKey && event.keyCode == 83) {
                    document.getElementById("btnOK").click();
                }
            });
            $(document).keydown(function (event) {
                if (event.altKey && event.keyCode == 83) {
                    document.getElementById("btnOKto").click();
                }
            });
            $(document).keydown(function (event) {
                if (event.altKey && event.keyCode == 72) {
                    document.getElementById("btnSave").click();
                }
            });

            companyChange(false);

        });

        function teamChange() {
            var selTeam = $("#selTeam option:selected").val();
            $("#hidTeamId").val(selTeam);

            var ajax = Topevery.BAHW.Web.SaveOrEdit.SaveOrEditSection;
            var nv = ajax.GetTeamXmjl(selTeam).value;
            if (nv) {
                $("#txt_team_ry").val(nv.ID);
                $("#txt_team_ry_tel").val(nv.Name);
            }
        }

        function mapSel(mapNode) {
            $("#hiddenMapCode").val($(mapNode).attr("map_code"));
            var gridName = Topevery.BAHW.Web.AjaxFunction.GetStreetName($("#hiddenMapCode").val()).value;
            if (gridName != null && gridName != "") {
                var name = $("#treeMapBox input:text").val();
                // $("#treeMapBox").removeAttr("value");
                //Street = gridName;
                var name2 = gridName.split('/');
                if (name2.length > 3) {
                    var name1 = gridName.split($("#hiddenMapCode").val());
                    //  gridName = gridName - $("#hiddenMapCode").val();
                    $("#treeMapBox input:text").val(name1[0] + name);
                }
                else {
                    $("#treeMapBox input:text").val(gridName);
                }
                // $("#treeMapBox").val(gridName);
            }
        }
        function Fuzhi() {
            $("#treeMapBox").val(Street);
        }

        function companyChange(isChangeTeamRy) {
            var ajax = Topevery.BAHW.Web.SaveOrEdit.SaveOrEditSection;
            var sectionId = 0;
            var companyId = $("#ddlCompany option:selected").val();
            var optionHtml = ajax.GetItemList(companyId, sectionId).value;
            $("#selTeam").html(optionHtml);
            if (isChangeTeamRy) {
                $("#txt_team_ry").val('');
                $("#txt_team_ry_tel").val('');
            }
        }

        function vsubmit(field, rules, i, options) {
            var section_name = $("#txtSectionName").val();
            var type = 1;
            if (Topevery.BAHW.Web.AjaxFunction.IsExistSection(section_name).value && type != "2") {
                return "标段编号已经存在";
            }
        }

        var trIndex = 0 + 1;

        function Add() {
            var html = "";
            html += '<tr id="trPoint' + trIndex + '">';
            html += '   <td style="text-align: center"><input  type="checkbox" name="point"  /></td>';
            html += '   <td style="text-align: center"><input  class="TUI-input validate[required]" type="textbox" name="pointName" /></td>';
            html += '   <td style="text-align: center"><select class="TUI-input validate[required]" width=50px  name="pointType"><option value="0">人员</option><option value="1">车辆</option></select></td>';
            html += '   <td style="text-align: center"><input  class="TUI-input validate[required,custom[number]]" style="width:50px" type="textbox" name="radius" value="10" />米</td>';
            html += '   <td style="text-align: center;"><input class="TUI-input validate[required]" type="textbox"   name="coordinate" id="coor' + trIndex + '" />';
            html += '       <a href="javascript:void(0);" onclick="selXY(' + trIndex + ')" class="select_links TUI-link-btn" title="定位，定位后可以自动获取检查地点位置"><span class="TUI-ico ico-map"></span>定位</a></td>';
            html += '   <td style="text-align: left  ;"><input  class="TUI-input " type="textbox" name="remark" /></td>';
            html += '   <td style="display:none" ><input  class="TUI-input validate[required]" type="textbox" name="MercatorPoint" id="MercatorCoor' + trIndex + '" /></td>';
            html += '</tr>';
            $("#tablePerson tbody").append(html);

            trIndex++;
        }

        function selXY(index) {
            $("#coor" + index).attr("readonly", "false");
            map.removeEventListener("rightclick", clickHandler);
            //var id = $(index).prev().attr("id");
            addPoint()
            $("#hidIndex").val(index);
        }

        function Del() {
            $("input[name='point']:checked").each(function () { // 遍历选中的checkbox
                n = $(this).parents("tr").index() + 1;  // 获取checkbox所在行的顺序
                $("table#tablePerson").find("tr:eq(" + n + ")").remove();
            });
        }
    </script>

    <script type="text/javascript">
        var demoPath = '[{"lng":114.056251,"lat":22.548082},{"lng":114.056467,"lat":22.540438},{"lng":114.067822,"lat":22.540472},{"lng":114.067462,"lat":22.548449},{"lng":114.067462,"lat":22.548416}]';
        // 百度地图API功能

        var insecPoints = [];
        var originalPoints = [];
        var originalLabel = [];
        var overlays = [];
        var allPoints = [];
        var map;

        function initMap() {
            map = new BMap.Map('window-info-content');
            var x = 0;
            var y = 0;
            if (x == 0 && y == 0) {

                map.centerAndZoom("宝安区");
            } else {
                var poi = new BMap.Point(x, y);
                map.centerAndZoom(poi, 16);
            }
            map.enableScrollWheelZoom();

            var bdary = new BMap.Boundary();
            bdary.get("宝安区", function (rs) {
                var count = rs.boundaries.length;
                var ply;
                var pointArray = [];
                for (var i = 0; i < count; i++) {
                    ply = new BMap.Polygon(rs.boundaries[i], { strokeWeight: 4, strokeColor: "red", fillOpacity: 0.01, strokeOpacity: 0.7, strokeStyle: "dashed" }); //建立多边形覆盖物
                    ply.disableMassClear();

                    map.addOverlay(ply);
                    pointArray = pointArray.concat(ply.getPath());
                }

                map.setViewport(pointArray);    //调整视野
            });

            initDrawManager();
        }

        function initDrawManager() {
            var overlaycomplete = function (e) {
                if (e.drawingMode == 'polygon') {
                    mapDraw.addPolygonOverLay(e.overlay);
                } else if (e.drawingMode == 'polyline') {
                    mapDraw.addLineOverLay(e.overlay);
                }
                areaMeasure();
            };
            var styleOptions = {
                strokeColor: "blue",    //边线颜色。
                fillColor: '',      //填充颜色。当参数为空时，圆形将没有填充效果。
                strokeWeight: 2,       //边线的宽度，以像素为单位。
                strokeOpacity: 0.8,	   //边线透明度，取值范围0 - 1。
                fillOpacity: 1,      //填充的透明度，取值范围0 - 1。
                strokeStyle: 'solid' //边线的样式，solid或dashed。
            }
            //实例化鼠标绘制工具
            var drawingManager = new BMapLib.DrawingManager(map, {
                isOpen: false, //是否开启绘制模式
                enableDrawingTool: true, //是否显示工具栏
                drawingToolOptions: {
                    anchor: BMAP_ANCHOR_TOP_RIGHT, //位置
                    offset: new BMap.Size(5, 5), //偏离值
                    scale: 0.8, //工具栏缩放比例
                    drawingModes: [BMAP_DRAWING_POLYLINE, BMAP_DRAWING_POLYGON]  //
                },
                markerOptions: styleOptions,
                polylineOptions: styleOptions,
                //rectangleOptions: styleOptions,
                polygonOptions: styleOptions //多边形的样式
            });
            //添加鼠标绘制工具监听事件，用于获取绘制结果
            drawingManager.addEventListener('overlaycomplete', overlaycomplete);
            mapDraw.init(map);
        }

        function areaMeasure() {
            var polygons = mapDraw.getAreaPolygon();
            var measure = Topevery.BAHW.Web.AjaxFunction.GetAreaMeasure(polygons.join('#')).value;
            $("#txtMultiVariantArea").val(measure);
        }

        function clearAll() {
            for (var i = 0; i < overlays.length; i++) {
                map.removeOverlay(overlays[i]);
            }
            overlays.length = 0
            map.clearOverlays();
            $("#hidMapData").val("");
            mapDraw.init(map);
        }

        function drawPolygon() {
            var mapData = $("#hidMapData").val();
            if (mapData.length > 0) {
                var __points = "";
                var viewPoints = [];
                var p = null;
                var ps = JSON.parse(mapData);
                for (var i = 0; i < ps.length; i++) {
                    if ($.trim(ps[i]) != "") {
                        if (i > 0) {
                            __points += "#";
                        }
                        var path = ps[i];
                        var points = [];
                        $(path).each(function (j, d) {
                            __points += d.lng + "," + d.lat;
                            p = new BMap.Point(d.lng, d.lat);
                            points.push(p);
                            allPoints.push(p);
                            if (j < path.length - 1) {
                                __points += ";";
                            }
                            //viewPoints.push(p);
                        });
                        if (points.length >= 3) {
                            mapDraw.addPolygon(points);
                        }
                    }
                }
                $('#txtPoints').val(__points);
                //map.setViewport(viewPoints);
                //var label = new BMap.Label("多边形上的文字批注", { offset: new BMap.Size(20, -10) });
                //label.setPosition(points[0]);
                //map.addOverlay(label);
                map.setViewport(allPoints);
            }

            //polygon.setLabel(label);
        }

        function showPolygon(points) {
            var polygon = new BMap.Polygon(points, {
                strokeColor: "green",
                strokeWeight: 2,
                strokeOpacity: 0.8
            });
            polygon.addEventListener("click", function (e) {
                //var title = "标题内容";
                //ShowWinInfo(e.point, title);
            });
            mapHelpr.addDelToPolygon(polygon, map, overlays, beforeSave);
            polygon.enableEditing();//开启线、面编辑功能 polygon.disableEditing();关闭线、面编辑功能
            overlays.push(polygon);
            map.addOverlay(polygon);
        }

        function ShowWinInfo(epoint, shtml) {
            var opts = {
                width: 250, // 信息窗口宽度
                height: 100, // 信息窗口高度
                title: shtml,// 信息窗口标题
                enableMessage: false
            }

            var infoWindow = new BMap.InfoWindow("详细的文字说明信息", opts); // 创建信息窗口对象
            map.openInfoWindow(infoWindow, epoint); // 在地图的特定位置打开信息窗口
            //});
        }
        var polygons = [];
        function beforeSave() {
            areaMeasure();
            clearPointMarker();

            var polygons = mapDraw.getPolygon(); // 每次保存多边形数据时,必须清除掉原来的,不然越删越多

            $("#hidMapData").val(JSON.stringify(polygons));

            var selectLevel = $("#ddlLevel").find("option:selected").val();
            $("#hidLevel").val(selectLevel);
            if ($('#hidMapData').val() == "" || $('#hidMapData').val() == "[]") {
                alert("没有画标段范围，无法提交保存");
                return false;
            }

            var trans = document.getElementById("cbxTrans");
            var road = document.getElementById("cbxRoad");
            var toilet = document.getElementById("cbxToilet");
            if (trans.checked != true && road.checked != true && toilet.checked != true) {
                alert("请选择服务范围!");
                return false;
            }

            return checkrdo();
        }

        function checkrdo() {
            var rbltable = document.getElementById("radioSectionType");
            var rbs = rbltable.getElementsByTagName("Input");
            var result = false;
            for (var i = 0; i < rbs.length; i++) {
                if (rbs[i].checked) {
                    result = true;
                    break;
                }
            }
            if (result == false) {
                alert("请选择标段类型");
            }
            return result;
        }

        function getLevelData(no) {
            var t = Topevery.BAHW.Web.BaseInfo.GreenPointSaveOrEditWithMap.ddlLevelDataBind(no);
        }

        function clearPointMarker() {
            for (var i = 0; i < originalPoints.length; i++) {
                map.removeOverlay(originalPoints[i]);
            }
            for (var i = 0; i < originalLabel.length; i++) {
                map.removeOverlay(originalLabel[i]);
            }
            for (var i = 0; i < insecPoints.length; i++) {
                map.removeOverlay(insecPoints[i]);
            }
        }

        function searchKey() {
            if ($.trim($("#txtKey").val() != "")) {
                var myKeys = [];
                var keys = $("#txtKey").val().split(" ");
                $(keys).each(function (i, d) {
                    if ($.trim(d) != "") {
                        myKeys.push($.trim(d));
                    }
                });

                var local = new BMap.LocalSearch(map, {
                    renderOptions: { map: map, panel: "divSearchResult" },
                    pageCapacity: 5
                });
                local.searchInBounds(myKeys, map.getBounds());
            }
        }

        var clickHandler = function (e) {
            if (insecPoints.length > 0) {
                for (var i = 0; i < insecPoints.length; i++) {
                    map.removeOverlay(insecPoints[i]);
                }
            }

            var index = $("#hidIndex").val();
            $("#coor" + index).val(e.point.lng + "|" + e.point.lat);
            var projection = new BMap.MercatorProjection();
            var point = projection.lngLatToPoint(new BMap.Point(e.point.lng, e.point.lat));
            $("#MercatorPoint" + index).val(point.x + "|" + point.y);
            var marker = new BMap.Marker(new BMap.Point(e.point.lng, e.point.lat));
            insecPoints.push(marker);
            map.addOverlay(marker);
        }

        function addPoint() {
            map.addEventListener("rightclick", clickHandler);
        }
        $("#checkAll").click(
            function () {
                if (this.checked) {
                    $("input[name='point']").each(function () { this.checked = true; });
                } else {
                    $("input[name='point']").each(function () { this.checked = false; });
                }
            }
        );
    </script>
    <script type="text/javascript">
        var mapDraw = (function () {
            var _polygons = [];
            var _line = [];
            var _currentPoi = 0;
            var _map = map;
            var _mapDraw = {
                init: function (map) {
                    _polygons = [];
                    _line = [];
                    _currentPoi = 0;
                    _map = map;
                },
                addPolygon: function (points) {
                    var polygon = new BMap.Polygon(points, {
                        strokeColor: "green",
                        strokeWeight: 2,
                        fillColor: "green", fillOpacity: 0.3,
                        strokeOpacity: 0.8
                    });
                    polygon.enableEditing();
                    var bnd = polygon.getBounds();
                    var center = bnd.getCenter();
                    _polygons.push({ id: _currentPoi, pol: polygon });
                    this.addDelMarker(center, _currentPoi, function (obj) {
                        if (confirm("确定要删除？")) {
                            var id = obj.getTitle();
                            if (_polygons.filter) {
                                var poly = _polygons.filter(function (p) { return p.id == id; });
                                if (poly.length > 0) {
                                    _polygons.splice(_polygons.indexOf(poly[0]), 1);
                                    map.removeOverlay(poly[0].pol);
                                    map.removeOverlay(obj);

                                    areaMeasure();
                                }
                            }
                            else {
                                alert("浏览器版本过低，请升级浏览器！");
                            }
                        }

                    });
                    _map.addOverlay(polygon);
                    _currentPoi++;
                },
                addLine: function (points) {
                    var polLine = new BMap.Polyline(points, {
                        strokeColor: "blue",
                        strokeWeight: 2,
                        strokeOpacity: 0.8
                    });
                    polLine.enableEditing();
                    _line.push({ id: _currentPoi, line: polLine });
                    this.addDelMarker(points[0], _currentPoi, function (obj) {
                        if (confirm("确定要删除？")) {
                            var id = obj.getTitle();
                            if (_line.filter) {
                                var poly = _line.filter(function (p) { return p.id == id; });
                                if (poly.length > 0) {
                                    _line.splice(_line.indexOf(poly[0]), 1);
                                    _map.removeOverlay(poly[0].line);
                                    _map.removeOverlay(obj);

                                    lineLength();
                                }
                            }
                            else {
                                alert("浏览器版本过低，请升级浏览器！");
                            }
                        }

                    });
                    _currentPoi++;
                    _map.addOverlay(polLine);
                },
                addPolygonOverLay: function (polygon) {
                    polygon.enableEditing();
                    var bnd = polygon.getBounds();
                    var center = bnd.getCenter();
                    _polygons.push({ id: _currentPoi, pol: polygon });
                    this.addDelMarker(center, _currentPoi, function (obj) {
                        if (confirm("确定要删除？")) {
                            var id = obj.getTitle();
                            if (_polygons.filter) {
                                var poly = _polygons.filter(function (p) { return p.id == id; });
                                if (poly.length > 0) {
                                    _polygons.splice(_polygons.indexOf(poly[0]), 1);
                                    map.removeOverlay(poly[0].pol);
                                    map.removeOverlay(obj);

                                    areaMeasure();
                                }
                            }
                            else {
                                alert("浏览器版本过低，请升级浏览器！");
                            }
                        }

                    });
                    _currentPoi++;
                    _map.addOverlay(polygon);
                },
                addLineOverLay: function (polLine) {
                    polLine.enableEditing();
                    _line.push({ id: _currentPoi, line: polLine });
                    this.addDelMarker(polLine.getPath()[0], _currentPoi, function (obj) {
                        if (confirm("确定要删除？")) {
                            var id = obj.getTitle();
                            if (_line.filter) {
                                var poly = _line.filter(function (p) { return p.id == id; });
                                if (poly.length > 0) {
                                    _line.splice(_line.indexOf(poly[0]), 1);
                                    _map.removeOverlay(poly[0].line);
                                    _map.removeOverlay(obj);

                                    lineLength();
                                }
                            }
                            else {
                                alert("浏览器版本过低，请升级浏览器！");
                            }
                        }

                    });
                    _currentPoi++;
                    _map.addOverlay(polLine);
                },
                addDelMarker: function addDelMarker(poi, id, callback) {
                    var markOptions = {
                        "icon": new BMap.Icon("http://api.map.baidu.com/images/mapctrls.gif", new BMap.Size(12, 12), { imageOffset: new BMap.Size(0, -14) }),
                        "title": "点击删除覆盖物"
                    };
                    var marker = new BMap.Marker(poi, markOptions);
                    marker.setTitle(id);
                    marker.addEventListener("click", function (e) {
                        if (typeof (callback) == "function") {
                            callback(e.target);
                        }
                    });
                    _map.addOverlay(marker);
                },
                getPolygon: function () {
                    var pois = [];
                    $(_polygons).each(function (i, d) {
                        pois.push(d.pol.getPath());
                    });
                    return pois;
                },
                getLine: function () {
                    var pois = [];
                    $(_line).each(function (i, d) {
                        pois.push(d.line.getPath());
                    });
                    return pois;
                },
                getAreaPolygon: function () {
                    var pois = [];
                    $(_polygons).each(function (i, d) {
                        pois.push(JSON.stringify(d.pol.getPath()));
                    });
                    return pois;
                },
                getLinePolygon: function () {
                    var pois = [];
                    $(_line).each(function (i, d) {
                        var points = d.line.getPath();
                        for (var i = 0; i < points.length; i++) {
                            pois.push({ BaiduX: points[i].lng, BaiduY: points[i].lat });
                        }
                    });
                    return pois;
                }
            };

            return _mapDraw;
        })();
    </script>

</body>

</html>
